.inner{
	width: 100%;
	height: 260px;
	margin: 0 auto;
	background: #0dcecb;
	overflow: hidden;
	font-size: 11px;
	position: relative;
}
.bar{
	float: left;
	margin: 1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background: rgba(255, 255, 255, 0.2);
	text-align: center;
	height: -moz-calc(100% - 4px);
    height: -webkit-calc(100% - 4px);
    height: calc(100% - 4px);
}
